{% extends "base_site2.html" %}

{% load i18n uni_form %}

{% block head_title %}{% trans "Idioma" %}{% endblock %}

{% block body %}
    <h2 class="entry-title">{% trans "Idioma" %}</h2>

    <p>{% trans "Qual a sua idioma de preferência?" %}</p>
    <div class="wpcf7" id="wpcf7-f1-p216-o1">
    <form method="POST" action="" class="wpcf7-form">{% csrf_token %}
            {{ form|as_uni_form }}
          <br/>
         <input type="submit"  class="wpcf7-submit" value="{% trans "Alterar meu idioma" %}" />
    </form>
    </div>
{% endblock %}