{% extends "base_site2.html" %}

{% load i18n uni_form %}

{% block head_title %}{% trans "Alterar Senha" %}{% endblock %}

{% block body %}
    <h2 class="entry-title">{% trans "Alterar Senha" %}</h2>

    <div class="okvideo">
    </div>

    <div class="wpcf7" id="wpcf7-f1-p216-o1">
        <form method="POST" action="" class="wpcf7-form">{% csrf_token %}
            {{ password_change_form|as_uni_form }}
             <br/>
             <input type="submit"  class="wpcf7-submit" value="{% trans "Alterar minha senha" %}" />
        </form>
    </div>
{% endblock %}