{% extends "account/base_not_auth.html" %}

{% load i18n %}
{% load uni_form %}

{% block titulo %}<h2 class="entry-title"><a href="">{% trans "Redefinir minha Senha" %}</a></h2>{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Nota" %}</span>: {% blocktrans %}você está logado como {{ user }}.{% endblocktrans %}</p>
    {% endif %}
    
    <p>{% trans "Esqueceu a sua senha? Entre com seu email cadastrado para redefini-la." %}</p>
    
    <div class="wpcf7" id="wpcf7-f1-p216-o1">
        <form method="POST" action="" class="wpcf7-form">{% csrf_token %}
            {{ password_reset_form|as_uni_form }}
             <br/>
            <input type="submit"  class="wpcf7-submit" value="{% trans "Enviar" %}" />
        </form>
    </div>

{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
