{% extends "account/base_not_auth.html" %}

{% load i18n %}
{% load uni_form %}
{% block head_title %}{% trans "Alterar senha" %}{% endblock %}

{% block content %}
    
    {{ initial }}
    
    {% if form %}
        <form method="POST" action="" class="uniForm">{% csrf_token %}
            <fieldset class="inlineLabels">
                {{ form|as_uni_form }}
                 <div class = "form_blick">
                     <input type="submit" name="action" value="{% trans "Alterar senha" %}"/>
                </div>
            </fieldset>
        </form>
    {% else %}
        Sua senha foi alterada.
    {% endif %}
{% endblock %}