{% extends "account/base_not_auth.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Criar senha" %}{% endblock %}

{% block content %}
    
    <form method="POST" action="" class="uniForm">{% csrf_token %}
        <fieldset class="inlineLabels">
            {{ password_set_form|as_uni_form }}
             <div class = "form_block">
                 <input type="submit" name="action" value="{% trans "Criar" %}"/>
            </div>
        </fieldset>
    </form>
{% endblock %}