{% extends "account/base_not_auth.html" %}

{% load i18n %}
{% load uni_form %}


{% block right_1_titulo %}{% trans 'O que tem de novo?' %}{% endblock %}
{% block right_1_content %}
    <div class="widget">
        &rarr; {% trans 'No iellos você crias seus elos, convidas as pessoas que fazem parte deles e compartilha conhecimentos!' %}
        <br/><br/>
        &rarr; {% trans 'Você fica informado e tem as pessoas que fazem parte da sua vida sempre próximas!' %}
    </div>
{% endblock %}



{% block titulo %}<h2 class="entry-title"><a href="">{% trans "Cadastro" %}</a></h2>{% endblock %}
{% block content %}
    
        <div class="wpcf7" id="wpcf7-f1-p216-o1">
        <form method="post" action="{% url acct_signup %}" class="wpcf7-form">{% csrf_token %}
            {{ form|as_uni_form }}
            <input type="submit" class="wpcf7-submit" value="{% trans "Registrar" %}" />
        </form>
        </div>
        Ao clicar em "Registrar", você está indicando que você leu e concorda com os <a id="termos" href="{% url termos_de_uso %}">Termos de Uso</a>.

{% endblock %}