{% load i18n comments thumbnail uni_form %}


<div class="photography post clearfix project" id="post_{{ post.id }}">
    <div class="box">
        <div class="shadow clearfix">
            <div class="frame">
                <p>{{ post.texto|safe }}</p>
                {% get_comment_list for post as comment_list %}
                {% get_comment_count for post as comment_count %}
                <div id="comments">
                    <h5>{{ comment_count}} {% trans 'Comentário' %}{{ comment_count|pluralize }}</h5>
                    <div id="tread_comments_{{ post.id }}" style="display: none;">

                {% for comment in comment_list %}
                    <div class="tread_comments" id="comment_{{ comment.id }}">
                        <div class="tread_comments_foto"><a href="{% url profiles comment.user.username %}"><img src="{% thumbnail comment.user.profileimage.image 60x60 crop %}" alt="{{ comment.user.username }}"/></a></div>
                        <div class="tread_comments_texto">
                            <strong><a href="{% url profiles comment.user.username %}">@{{ comment.user.username }}</a></strong><br/>
                            <strong>{{ comment.submit_date|date:"d M Y H:m:s" }}&nbsp;&nbsp;{% ifequal user comment.user %}<b>X</b> <a href="" onclick="J.get('{% url delete_comment_ajax comment.id %}', function(data) {J('#post_{{ post.id }}').fadeOut('slow').replaceWith(data).fadeIn('slow');J('#tread_comments_{{ post.id }}').slideToggle();}); return false;">{% trans 'Remover' %}</a>{% endifequal %}</strong>
                            <br/>
                            {{ comment.comment|safe }}
                        </div>
                    </div>
                {% endfor %}

                {% if elo %}
                    {% if user in elo.membros.all %}
                        <div class="tread_comments wpcf7" id="wpcf7-f1-p216-o1" style="border: 0">
                        {% get_comment_form for post as form_comment %}
                        <script type="text/javascript">
                            J(document).ready(function(){
                                J('#form_comments_post_{{ post.id }}').submit(function(){
                                    if(J('#form_comments_post_{{ post.id }} #id_comment').val() != ''){
                                        var dados = J('#form_comments_post_{{ post.id }}').serialize();
                                        J.ajax({
                                            type: "POST",
                                            url: "{% comment_form_target %}",
                                            data: dados,
                                            beforeSend: function( xhr ) {
                                                J('#img_form_loading_{{ post.id }}').show();
                                                J('#submit_comments_post_{{ post.id }}').hide();
                                             },
                                            success: function( data ){
                                                J('#submit_comments_post_{{ post.id }}').show();
                                                J('#post_{{ post.id }}').fadeOut("slow").replaceWith(data).fadeIn("slow");
                                                J('#img_form_loading_{{ post.id }}').hide();
                                                J('#tread_comments_{{ post.id }}').slideToggle();
                                                J('#form_comments_post_{{ post.id }} #id_comment').val('');
                                            },
                                            error: function( jqXHR, textStatus, errorThrown ){
                                                J('#img_form_loading_{{ post.id }}').hide();
                                                J('#submit_comments_post_{{ post.id }}').show();
                                            }
                                        });
                                    }

                                    return false;
                                });
                            });
                        </script>
                        <form method="POST"  id="form_comments_post_{{ post.id }}" action="{% comment_form_target %}" class="wpcf7-form">{% csrf_token %}
                            <input type="hidden" name="next" value="{% url elo_posts_scroll elo.slug 1 %}?post_id={{ post.id }}" />
                            {% for field in form_comment %}
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
                            <div align="right"><input type="submit" value="{% trans 'Comentar' %}" id="submit_comments_post_{{ post.id }}" style="margin-top: 5px; float: right" class="wpcf7-submit"><img id="img_form_loading_{{ post.id }}" style="margin-right: 10px; margin-top: 15px; float: right; display: none;" src="{{ STATIC_URL }}iellos/images/loading-image.gif" /></div>
                        </form>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="tread_comments wpcf7" id="wpcf7-f1-p216-o1" style="border: 0">
                        {% get_comment_form for post as form_comment %}
                        <script type="text/javascript">
                            J(document).ready(function(){
                                J('#form_comments_post_{{ post.id }}').submit(function(){
                                    if(J('#form_comments_post_{{ post.id }} #id_comment').val() != ''){
                                        var dados = J('#form_comments_post_{{ post.id }}').serialize();
                                        J.ajax({
                                            type: "POST",
                                            url: "{% comment_form_target %}",
                                            data: dados,
                                            beforeSend: function( xhr ) {
                                                J('#submit_comments_post_{{ post.id }}').hide();
                                                J('#img_form_loading_{{ post.id }}').show();
                                             },
                                            success: function( data ){
                                                J('#submit_comments_post_{{ post.id }}').show();
                                                J('#post_{{ post.id }}').fadeOut("slow").replaceWith(data).fadeIn("slow");
                                                J('#img_form_loading_{{ post.id }}').hide();
                                                J('#tread_comments_{{ post.id }}').slideToggle();
                                                J('#form_comments_post_{{ post.id }} #id_comment').val('');
                                            },
                                            error: function( jqXHR, textStatus, errorThrown ){
                                                J('#img_form_loading_{{ post.id }}').hide();
                                                J('#submit_comments_post_{{ post.id }}').show();
                                            }
                                        });
                                    }

                                    return false;
                                });
                            });
                        </script>
                        <form method="POST"  id="form_comments_post_{{ post.id }}"action="{% comment_form_target %}" class="wpcf7-form" onSubmit="if(this.comment.value != '')return true;else return false;">{% csrf_token %}
                            {% for field in form_comment %}
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            <input type="hidden" name="next" value="{% url user_posts_scroll 1 %}?post_id={{ post.id }}" />
                            <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
                            <div align="right"><input type="submit" value="{% trans 'Comentar' %}" id="submit_comments_post_{{ post.id }}" style="margin-top: 5px; float: right" class="wpcf7-submit"><img id="img_form_loading_{{ post.id }}"style="margin-right: 10px; margin-top: 15px; float: right; display: none;" src="{{ STATIC_URL }}iellos/images/loading-image.gif" /></div>
                        </form>
                    </div>
                {% endif %}
                </div>
                </div>
            </div><!-- frame -->
        </div><!-- shadow -->

        <!-- meta info bar -->
        <div class="bar" >
            <div class="bar-frame clearfix">
                <div class="date">
                    <strong class="day">{{ post.data_de_criacao|date:"d" }}</strong>
                    <div class="holder">
                        <span class="month">{{ post.data_de_criacao|date:"M" }}</span>
                        <span class="year">{{ post.data_de_criacao|date:"Y" }}</span>
                    </div>
                    <strong class="hora">{{ post.data_de_criacao|date:'H:m:s' }}</strong>
                </div>
                 {% ifequal user post.user %}
                 <div class="author">
                     <b>X</b> <a href="" onclick="J.get('{% url delete_ajax post.id %}', function(data) {J('#post_{{ post.id }}').fadeOut('slow');}); return false;">{% trans 'Remover' %}</a>
                 </div>
                 {% endifequal %}
                <div class="author">
                    <strong class="title">{% trans 'Autor' %}</strong>
                    <a href="{% url profiles post.user %}" title="{{ post.user.username }}" rel="external">@{{ post.user.username }}</a>
                </div>
                <div class="categories">
                    {% if post.elos.all %}
                        <strong class="title">{% trans 'Elos' %}</strong>
                        {% for elo in post.elos.all %}
                            <p><a href="{{ elo.get_absolute_url }}" title="{{ elo.nome }}" rel="category">{{ elo.nome }}</a></p>
                        {% endfor %}
                        
                    {% endif %}
                </div>


            </div><!-- bar frame -->
        </div><!-- bar -->
    </div><!-- box -->
</div><!--writing post-->