{% extends 'base_site1.html' %}
{% load i18n uni_form comments %}


{% block extra_head %}
    <script src="{{ STATIC_URL }}iellos/js/jquery.elastic.source.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}iellos/js/ui/jquery-ui-1.8.16.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}iellos/js/jquery.multiselect.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}iellos/css/jquery.multiselect.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}iellos/js/ui/jquery-ui-1.8.16.custom.css" type="text/css" media="screen" />
    <script type="text/javascript">
        // <![CDATA[
        J("textarea").live("focus", function() {
            J(this).elastic().die("focus");
        });

        // ]]>
    </script>

    <script type="text/javascript">
    //<![CDATA[
        J(document).ready(function(){
            J('.loading').hide();
            J(window).bind('scroll', loadOnScroll);
        });
    //]]>
    </script>

    <script type="text/javascript">
    //<![CDATA[
        J('#comments h5').live('click', function(){
            J(this).next().slideToggle();
        });
    //]]>
    </script>

    <script type="text/javascript">
        // Scroll globals
        var pageNum = 1;
        var hasNextPage = true;
        var baseUrl = '{% url user_posts %}';

        var loadOnScroll = function() {
            if (J(window).scrollTop() > J(document).height() - (J(window).height()+150)) {
                J(window).unbind();
                loadItems();
            }
            
        };

        // loadOnScroll action
        var loadItems = function() {
            if (hasNextPage === false) {
                return false
            }
            pageNum = pageNum + 1;
            var url = baseUrl + "scroll/" + pageNum + '/';
            J.ajax({
                url: url,
                dataType: 'html',
                beforeSend: function( xhr ) {
                    J('.loading').show();
                 },
                success: function(data) {
                    J("#allposts").append(data);
                    J('.loading').hide();
                },
                error: function(xhr, ajaxOptions, thrownError){
                    hasNextPage = false;
                    J('.loading').hide();
                },
                complete: function(data, textStatus){
                    loadInProgress = false;
                    J(window).bind('scroll', loadOnScroll);
                }
            });
        };
    </script>

    <script type="text/javascript">
        J(document).ready(function(){
            J('#novas_atual').click( function() {
                J('#allposts').fadeOut("slow").load('{% url user_posts_scroll 1 %}').fadeIn("slow");
                J('#novas_atual').fadeOut("slow");
            });

            var refreshId = setInterval(function() {
                 J('#novas_atual').fadeIn("slow");
            }, 240000);
        
        });
    </script>

    <script type="text/javascript">
        J(document).ready(function(){
            J('#img_form_loading').hide();
            J('#post_from').submit(function(){
                
                if(J('#post_from #id_texto').val() != ''){
                    var dados = J('#post_from').serialize();
                    J.ajax({
                        type: "POST",
                        url: "{% url user_posts_scroll 1 %}",
                        data: dados,
                        beforeSend: function( xhr ) {
                            J('#img_form_loading').show();
                            J('#post_form_submit').hide();
                         },
                        success: function( data ){
                            J('#post_form_submit').show();
                            J('#allposts').fadeOut("slow").html(data).fadeIn("slow");
                            J('#img_form_loading').hide();
                            J('#post_from #id_texto').val('');
                        },
                        error: function( jqXHR, textStatus, errorThrown ){
                            J('#post_form_submit').show();
                            J('#img_form_loading').hide();
                        }
                    });
                }
              
                return false;
            });
        });
    </script>

    <script type="text/javascript">
        J(document).ready(function(){
            J("#id_elos").multiselect({
                noneSelectedText: '{% trans 'Compartilhar com' %}',
                selectedList: 5,
                checkAllText: '{% trans 'Todos' %}',
                uncheckAllText: '{% trans 'Nenhum' %}',
                height: 125,
                minWidth: 320,
            });
        });
    </script>
{% endblock %}

{% block head_title %}{% trans 'Compartilhar'%}{% endblock %}


{% block compartilhar %}
<div class="post">
    <div class="box">
        <div class="shadow clearfix">
            <div class="frame frame_post wpcf7">
                <form method="POST" action="" id="post_from" class="wpcf7-form">{% csrf_token %}
                    <textarea id="id_texto" rows="10" cols="40" name="texto" placeholder="{% trans 'Use links do Youtube, Picasa, imagens da internet, etc!' %}">{% if form.texto.value %}{{ form.texto.value }}{% endif %}</textarea>
                    {{ form.elos }}
                    <input type="submit" value="{% trans 'Compartilhar' %}" id="post_form_submit" class="wpcf7-submit" style="float: right; margin-top: 5px;" />
                    <div id="img_form_loading" align="right"  style="float: right;"><br/><img  style="margin-right: 10px;" src="{{ STATIC_URL }}iellos/images/loading-image.gif" /></div>
                </form>
            </div><!-- frame -->
        </div><!-- shadow -->

        <!-- meta info bar -->
        <div class="bar" >
            <div class="bar-frame clearfix">
                <div class="date">
                    <strong class="day">{% now "d" %}</strong>
                    <div class="holder">
                        <span class="month">{% now "M" %}</span>
                        <span class="year">{% now "Y" %}</span>
                    </div>
                </div>
                <div class="author">
                    <strong class="title">{% trans 'Autor' %}</strong>
                    <a href="{% url profiles user.username %}" title="{{ user.username }}">@{{ user.username }}</a>
                </div>


            </div><!-- bar frame -->
        </div><!-- bar -->
    </div><!-- box -->
</div><!--writing post-->

<input type="button" value="{% trans 'Verifica atualizações!' %}" id="novas_atual" class="wpcf7-submit" style="margin: 20px 0px 20px 100px; width: 400px; display: none;" />
{% endblock %}


{% block right_3 %}
<div id="sticky" class="clearfix">
    <h2 class="sticky-title">{% trans 'Aplicações...' %}</h2>
    <!-- exemplo -->
    <div class="widget meio">
        <div class="twitter-box">
            {% if user.profiledefault.apps_list %}
                {% for app in user.profiledefault.apps_list %}
                <h2><a href="{% url select_app app %}">{{ app }}</a></h2>
                {% endfor %}
            {% else %}
            <h2>{% trans 'Você não tem nenhum elo!' %}</h2>
            {% endif %}
            <div style="clear:both;"></div>
            <a class="tweets-more iframe" href="{% url add_app %}" title="">{% trans 'Adicionar app' %} &rarr;</a>
        </div>
    </div>
</div><!-- sticky -->
{% endblock %}

{% block content %}
    <ul class="newposts">
        <div id="allposts">
        {% for post in posts.object_list %}
            <li>
                {% include 'posts/post.html' %}
            </li>
        {% endfor %}
        </div>
        <div class="loading" align="center"><img src="{{ STATIC_URL }}iellos/images/loading.gif" border="0"></div>
    </ul>
{% endblock %}