<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    <head>
        <title>Bem vindo ao iellos</title>

        <meta name="description" content="{% block description %}O iellos é uma rede social que reúne pessoas a seus amigos e àqueles com quem trabalham, estudam e convivem. As pessoas participam do iellos para manter contato com seus amigos, compartilhar links e vídeos e aprender mais sobre as pessoas que conhecem.{% endblock %}"/>
        <meta name="keywords" content="iellos, vídeos, fotos, rede social, amigos, informação, blog, compartilhamento"/>
        <link rel="icon" href="images/home.png" type="image/x-icon" />
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
        <script type='text/javascript' src='js/jquery-1.4.2.min.js'></script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-6773116-8']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <script type="text/javascript">
            var J = jQuery.noConflict();
        </script>
        <!-- fonts -->
        <link href='css/fontes.css' rel='stylesheet' type='text/css' />
        <style type="text/css">
            .widget {
                width: 265px !important;

            }
        </style>
    </head>

    <body class="archive category category-photography">
        <div id="wrapper" class="clearfix">
            <div class="top-bar">
                <div class="frame">
                    <div class="frame-inside">
                        <!-- header navigation menu -->
                        <div class="menu-header-container">
                            <ul id="menu-header" class="nav">
                                <li><a href="/"><img src="images/home.png"></a></li>
                            </ul>
                        </div>


                    </div><!-- frame inside -->
                    
                </div><!-- frame -->
            </div><!-- top bar -->
            
            <div style="clear:both;"></div>
            <div id="main" class="clearfix">

                <!-- grab the sidebar -->
                <div id="sidebar-wrap" class="clearfix" style="float: right;">
                    <div id="sidebar" style="width: 300px; margin-left: -100px;background: #fff;">

                        <!-- grab the logo -->
                        <h1>
                            <div class="logo"> <div style="padding: 15px 15px 15px 15px; color: #fff;">O que aconteceu?</div></div>
                        </h1>

                        <!-- otherwise show the site title and description -->
                        <div class="widget">
                            &rarr; Devido o grande número de usuários, estamos migrando de servidor! Desculpe-nos pelo incoveniente, logo logo estaremos de volta!!!
                        </div>
                        <!-- grab sidebar widgets -->
                        
                       
                    </div><!--sidebar-->

                    <div style="clear:both;"></div>

                </div><!-- sidebar wrap -->
                <div id="content" style="float: left; width: 600px;">

                    <div class="filter-posts">

                       <div class="post clearfix project">
                            <div class="box">
                                <div class="shadow clearfix">
                                    <div class="frame" style="width: 560px;">
                                        <h2>Descupe, houve um erro no servidor!</h2>
                                        <p>Devido o grande número de usuários, estamos migrando de servidor! Desculpe-nos pelo incoveniente, logo logo estaremos de volta!!!</p>
                                        <img src="images/500.jpg" />
                                    </div><!-- frame -->
                                </div><!-- shadow -->
                            </div><!-- box -->
                        </div><!--writing post-->

                        <div style="clear:both;"> </div>

                        <div class="post-nav">
                            <div class="postnav-left"></div>
                            <div class="postnav-right"></div>
                            <div style="clear:both;"> </div>
                        </div><!--end post navigation-->


                        <!-- grab comments on single pages -->
                    </div>
                </div><!--content-->
                <div class="push"></div>
            </div><!--main-->

            <!-- grab footer -->
            <div id="footer" class="clearfix">
                <div class="frame">
                    <div class="bar">
                        <p class="copyright">&copy; 2012 <a href="/">iellos</a></p>
                        <div class="menu-footer-container">
                            <ul id="menu-footer" class="footernav">
                                <li><a href="">Elos</a></li>
                                <li><a href="">Termos</a></li>
                                <li><a href="">Privacidade</a></li>
                            </ul>
                        </div>
                    </div><!--bar-->
                </div><!--frame-->
            </div><!--footer-->
        </div><!-- wrapper -->

        <!-- google analytics code -->

        <script type='text/javascript' src='js/fancybox/jquery.fancybox-1.3.4.pack.js'></script>
        <script type='text/javascript' src='js/jquery.sticky.js'></script>
        <script type='text/javascript' src='js/quicksand/jquery-css-transform.js'></script>
        <script type='text/javascript' src='js/quicksand/jquery.easing.1.3.js'></script>
        <script type='text/javascript' src='js/quicksand/quicksand.js'></script>
        <script type="text/javascript">
	 /* <![CDATA[  */   

	var J = jQuery.noConflict();

	J(document).ready(function(){

		// Drop Menu
		function mainmenu(){
		J(".nav ul ").css({display: "none"}); // Opera Fix
		J(".nav li").hover(function(){
				J(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown(200);
				},function(){
				J(this).find('ul:first').css({visibility: "hidden"});
				});
		}

		mainmenu();

		// Fade Icons
		J("img.a").hover(
			function() {
			J(this).stop().animate({"opacity": "0"}, "fast");
			},
			function() {
			J(this).stop().animate({"opacity": "1"}, "fast");
		});

		// Fade Hover Links
		J(".entry-title a").hover(
		function() {
			J(this).animate({"opacity": ".7"}, "fast");
				},
			function() {
				J(this).animate({"opacity": "1"}, "fast");
		});

		// Remove Margins
		J(".flickrPhotos > li:nth-child(2n)").addClass('remove-margin');
		J('#sidebar > div').last().addClass('last-sidebar');

		// Sticky Sidebar
		J('#sticky > div').last().addClass('last-sidebar');
		J("#sticky").sticky({topSpacing:90,className:'sticky'});

		J(".lightbox").fancybox({
			'titlePosition'		: 'outside',
			'overlayColor'		: '#ddd',
			'overlayOpacity'	: 0.9,
			'titleShow'			: 'false',
			'transitionIn'	: 'elastic',
			'transitionOut'	: 'elastic',
			'speedIn' : '1400', 
			'speedOut' : '1400',
			'easingIn' : 'easeOutBounce',
			'easingOut' : 'easeOutBounce'
		});

		
	});
	/* ]]> */  
        </script>

    </body>
</html>
