{% load i18n uni_form thumbnail %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    <head>
        <title>ielos - Convidar</title>


        <link rel="stylesheet" href="{{ STATIC_URL }}iellos/css/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}iellos/js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
        <script type='text/javascript' src='{{ STATIC_URL }}iellos/js/jquery-1.4.2.min.js'></script>
        <script type="text/javascript">
            var J = jQuery.noConflict();
        </script>
        <!-- fonts -->
        <link href='{{ STATIC_URL }}iellos/css/fontes.css' rel='stylesheet' type='text/css' />

    </head>

    <body class="archive category category-photography">

        <div class="tread_comments wpcf7">
            <form action="" method="GET" class="search-form clearfix">
                <fieldset>
                    <input type="text" class="search-form-input text" name="q" placeholder="{% trans 'Encontrar...' %}"/>
                </fieldset>
            </form>
        </div>
        <div class="tread_comments wpcf7">
            <div id="all_users_anchor">
            {% for usuario in usuarios.object_list %}
                <form action="" method="POST" id="form_usuario" class="wpcf7-form" >{% csrf_token %}
                    <div class="tread_comments">
                        <div class="tread_comments_foto"><img src="{% thumbnail usuario.user.profileimage.image 60x60 crop %}" alt="{{ usuario.user.username }}"/></div>
                        <div class="tread_comments_texto">
                            <strong>@{{ usuario.user.username }}</strong>
                            <br/>
                            <img style="display: none;" id="img_form_loading" src="{{ STATIC_URL }}iellos/images/loading-image.gif" border="0">
                            <input type="hidden" name="username" value="{{ usuario.user.username }}" />
                            <input type="submit" value="{% trans 'Convidar' %}" class="wpcf7-submit menor" />
                        </div>
                    </div>
                </form>
            {% endfor %}
            </div>
        </div>
        <div class="tread_comments wpcf7">
            <form action="" method="GET" class="search-form clearfix">
                <fieldset>
                    <input type="text" class="search-form-input text" name="email" placeholder="{% trans 'Convidar por email...' %}"/>
                </fieldset>
            </form>
        </div>
    </body>
</html>