{% load i18n elos_tags %}

{% for elo in elos.object_list %}
<div class="elo_all">
    <div class="elo_all_left">
        <div class="elo_img" align="center">
            {% elos_image elo.membros.all 49 130 %}
        </div>
    </div>
    <div class="elo_all_right">
        <a href="{{ elo.get_absolute_url }}"><b>{{ elo.nome }}</b></a>
        <br/>
        <b>{% trans 'Tipo:' %}</b> {{ elo.get_tipo_display }}
        <br/>
        <b>{% trans 'Quem somos?' %}</b> {{ elo.desc|truncatewords:30 }}
    </div>
</div>
{% endfor %}