{% extends 'base_site2.html' %}
{% load i18n uni_form %}

{% block compartilhar %}
{% endblock %}

{% block head_title %}{% trans 'Editar perfil'%}{% endblock %}


{% block body %}
    <h2 class="entry-title">{% trans "Editar perfil" %}</h2>

    <div class="wpcf7" id="wpcf7-f1-p216-o1">
    <form method="POST" action="" class="wpcf7-form">{% csrf_token %}
            {{ form|as_uni_form }}
          <br/>
         <input type="submit"  class="wpcf7-submit" value="{% trans "Salvar alterações" %}" />
    </form>
    </div>
{% endblock %}
