{% load i18n %}
{% load thumbnail uni_form %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    <head>
        <title>ielos - {% block head_title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}iellos/css/style.css" type="text/css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Rokkitt&amp;v2' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700&amp;v2' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Play:400,700&amp;v2' rel='stylesheet' type='text/css' />
    </head>
    <body class="archive category category-photography">
        
        <div style="padding: 15px;">
            {% trans 'Foto atual:' %}
            <div align="center" class="profile_image_edit"><img src="{% thumbnail user.profileimage.image 140x140 crop %}"/></div>
            <br/>
            <div class="wpcf7" id="wpcf7-f1-p216-o1" style="border-top: dotted 1px #ccc;">


                <form method="POST" class="wpcf7-form login" action="" enctype="multipart/form-data">{% csrf_token %}
                    {{ image_upload_form|as_uni_form }}
                    <input type="submit" class="wpcf7-submit" value="{% trans 'Upload' %}" />
                </form>
            </div>
        </div>
            
    </body>
</html>