{% extends 'base_site2.html' %}
{% load i18n thumbnail elos_tags %}

{% block compartilhar %}
{% endblock %}

{% block head_title %}{% trans 'Perfil de '%} @{{ profile_default.user.username }}{% endblock %}

{% block description %}{% trans 'Perfil de '%} @{{ profile_default.user.username }} - {{ profile_default.eu_sou }}{% endblock %}


{% block right_1_image %}<div class="logo"><img src="{% thumbnail profile_default.user.profileimage.image 140x140 crop %}"></div>{% endblock %}

{% block right_1_content %}
    <div class="widget">
        <h2 class="widgettitle">@{{ profile_default.user.username }} {% trans 'é...' %}</h2>
        <div class="textwidget">{{ profile_default.eu_sou }}</div>
    </div>
{% endblock %}

{% block right_2_title %}{% trans 'Elos de' %} {{ profile_default.user.username }}{% endblock %}

{% block right_2_content %}

<div class="widget">
    <div class="twitter-box">
        {% get_elos profile_default.user %}
        <div style="clear:both;"></div>
    </div>
</div>

{% endblock %}


{% block right_search %}{% endblock %}



{% block body %}
    <h2 class="entry-title">{% trans 'Perfil de ' %}{% firstof profile_default.user.first_name profile_default.user.username %}</h2>

    <h2 class="profilestitle">{% trans 'Nome' %}</h2>
        {{ profile_default.user.first_name }}
    <h2 class="profilestitle">{% trans 'Sobrenome' %}</h2>
    {{ profile_default.user.last_name }}
    <h2 class="profilestitle">{% trans 'Eu sou...' %}</h2>
    {{ profile_default.eu_sou }}

    {% if profile_default.identidade_sexual %}
        <h2 class="profilestitle">{% trans 'Identidade sexual' %}</h2>
        {{ profile_default.get_identidade_sexual_display }}
    {% endif %}

    {% if profile_default.data_de_nascimento %}
        <h2 class="profilestitle">{% trans 'Data de nascimento' %}</h2>
        {{ profile_default.data_de_nascimento|date:"j N Y" }}
    {% endif %}

    {% if profile_default.relacionamento %}
        <h2 class="profilestitle">{% trans 'Relacionamento' %}</h2>
        {{ profile_default.get_relacionamento_display }}
    {% endif %}

    {% if profile_default.cidade_natal %}
        <h2 class="profilestitle">{% trans 'Cidade natal' %}</h2>
        {{ profile_default.cidade_natal }}
    {% endif %}

    </br></br></br></br>
{% endblock %}
