{% extends 'banco_de_imagens/base.html' %}
{% load i18n uni_form %}

{% block right %}{% endblock %}
{% block style_left %}style="width: 100% !important;"{% endblock %}

{% block left %}
    <h1>{% trans 'Adicionar imagem' %}</h1>
    <br/>
    <div class="wpcf7" id="wpcf7-f1-p216-o1">
        <form method="POST" action="" class="wpcf7-form" enctype="multipart/form-data">{% csrf_token %}
            {{ form|as_uni_form }}
          <br/>
         <input type="submit"  class="wpcf7-submit" value="{% trans "Salvar" %}" />
    </form>
    </div>
{% endblock %}

{% block extra_head %}
<script type='text/javascript' src='{{ STATIC_URL }}iellos/js/jquery-1.4.2.min.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}jquery-autocomplete/jquery.autocomplete.min.js'></script>
<link href="{{ STATIC_URL }}jquery-autocomplete/jquery.autocomplete.css" type="text/css" />
{% endblock %}