{% load i18n bi_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% trans 'Banco de imagens' %} {% block title %}{% endblock %}</title>
        <!-- style sheet -->
        <link media="screen" rel="stylesheet" href="{{ STATIC_URL }}banco_de_imagens/css/style.css" type="text/css" />
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block right %}
        <div class="navigation">
            <ul class="ui-nav">
                {% tags_menu %}
            </ul>
        </div>
        {% endblock %}
        <div class="photos" {% block style_left %}{% endblock %}>

            <form action="{% url bi_index %}" method="GET">
                <div class="search">
                    <input type="text" name="q" class="srch-item" placeholder="{% trans 'Pesquisar...' %}" />
                    {% block menu %}
                        <a href="{% url bi_adicionar %}" class="ui-nav-item addnew fright">{% trans 'Adicionar' %}</a>
                        <a href="{% url bi_index %}" class="ui-nav-item addnew fright">{% trans 'Home' %}</a>
                    {% endblock %}
                </div>
            </form>
            <div class="content">
                {% block left %}
                {% endblock %}
            </div>
        </div>
        {% block script %}
        {% endblock %}
    </body>
</html>